:root {
  --m3-primary: #97a979;
  --m3-on-primary: #0e1b00;
  --m3-primary-container: #d6eab4;
  --m3-on-primary-container: #596a3f;
  --m3-secondary: #9ea68d;
  --m3-on-secondary: #131a09;
  --m3-secondary-container: #dee6ca;
  --m3-on-secondary-container: #5f6751;
  --m3-tertiary: #86aaa6;
  --m3-on-tertiary: #001c19;
  --m3-tertiary-container: #c4eae5;
  --m3-on-tertiary-container: #486b67;
  --m3-error: #ff7b6e;
  --m3-on-error: #390001;
  --m3-error-container: #ffdad6;
  --m3-on-error-container: #c32220;
  --m3-surface: #12140f;
  --m3-on-surface: #e3e3da;
  --m3-surface-container: #1e201b;
  --m3-surface-container-low: #1a1c17;
  --m3-surface-container-high: #292b25;
  --m3-surface-container-highest: #34352f;
  --m3-surface-bright: #383a33;
  --m3-surface-dim: #10120c;
  --m3-on-surface-variant: #c6c8bb;
  --m3-outline: #8f9286;
  --m3-outline-variant: #45483e;
  --m3-inverse-surface: #e3e3da;
  --m3-inverse-on-surface: #2f312b;
  --m3-inverse-primary: #53643a;
  --m3-background: #12140f;
  --m3-on-background: #e3e3da;

  /* animations */
  --m3-motion-emphasized: cubic-bezier(0.2, 0, 0, 1);
  --m3-motion-emphasized-decelerate: cubic-bezier(0.05, 0.7, 0.1, 1);
  --m3-motion-spring: cubic-bezier(0.34, 1.56, 0.64, 1);
  --m3-duration-short: 150ms;
  --m3-duration-medium: 300ms;
}
